
/* 
  MAIN ELEMENTS
*/

body
{
  background-color:#cedeb7;
}

#doc2
{
  background-color:#FFF;
  width:950px;
}

#content
{
  width:750px;
  text-align:left;
	font-size: 120%;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family:Constantia, Georgia, "Times New Roman", serif;
}

#hd,#ft
{
  background-color:#FFF;
  color:#FFF;
  //height:270px;
  border:none;
}

#hd 
{
  text-align: center;
}

#ft
{
  text-align: center;
}
#hd h1
{
  font-size:210%;
  padding-left:10px;
}

#hd img
{
  vertical-align:middle;
}

#bd
{
}

.navigation
{
  text-align:center;
  background-color:#FFF;
  color:#000;
  padding:5px;
}

.navigation a
{
  text-decoration:none;
  color:#666;
  padding:5px;
}

h1.section_header
{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:20px;
  font-size:135%;
  background-image:url(/images/gradient.jpg);
  background-repeat:no-repeat;
  color:white;
  width:100%;
  font-family:Calibri, Helvetica, Arial, sans-serif;
  text-transform:capitalize;
  margin-top:.6px;
}

.mainmap
{
  width:930px;
  padding: 10px;
//  padding-left:75px;
//  padding-right:75px;
//  padding-bottom:20px;
}

.sidebar
{
  border:1px dashed #fff;
  background-color:#ebdbcc;
  padding:10px;
}

.sidebar h1.section_header
{
  background-image:url(/images/sidebar_gradient.jpg);
  background-repeat:no-repeat;
}

.sidebar p
{
  font-family:Constantia, Georgia, "Times New Roman", serif;
  margin:0 auto;
  line-height:1.4;
  font-size:95%;
  padding:1px;
}

.footer
{
  color:#666;
}

.first
{
  padding-left:10px;
}

/*

 BLOG 

*/

.blog p
{
  font-family:Constantia, Georgia, "Times New Roman", serif;
  margin:0 auto;
  line-height:1.4;
  min-width:20em;
  max-width:40em;
  font-size:122%;
  width:75%;
  padding:3px 0;
}

.blog h3
{
  margin:0 40px;
}

.blog h3 a
{
  font-size:152%;
  font-family:Constantia, Georgia, "Times New Roman", serif;
  font-weight:normal;
  letter-spacing:0;
  text-decoration:none;
  color:#7F007F;
}

.editblog form textarea
{
  height:300px;
}

.about h3 a
{
  font-size:152%;
  font-family:Constantia, Georgia, "Times New Roman", serif;
  padding-left:25px;
  font-weight:normal;
  letter-spacing:0;
  text-decoration:none;
  color:#7F007F;
}

ol#comment-list
{
  list-style-type:none;
  padding:0;
}

.comment-head
{
  margin:0;
}

.comment-author-details
{
  line-height:14px;
  margin:0;
}

div.comment-author-details h3
{
  float:left;
  font-weight:normal;
  margin:5px 0 5px 5px;
  padding:0;
  position:relative;
}

div.comment-author-details div
{
  margin:5px 0 0 5px;
}

div.comment-author-details :link,div.comment-author-details :visited
{
  font-weight:bold;
}

.comment-body
{
  background:transparent url(/images/comment-right.png) no-repeat scroll right top;
  clear:both;
  margin:0;
  padding:0;
}

.comment-body-paragraph
{
  background:transparent url(/images/comment-left.png) no-repeat scroll left top;
  margin:0;
  padding:16px 10px 10px 20px;
}

.comment-link
{
  background:transparent url(/images/comment-left.png) no-repeat scroll left bottom;
  margin:0;
  padding:0 0 0 10px;
}

.comment-link em
{
  background:transparent url(/images/comment-right.png) no-repeat scroll right bottom;
  display:block;
  padding:0 10px 10px 0;
}

.comment-admin-body
{
  background:transparent url(/images/admin-right.png) no-repeat scroll right top;
  clear:both;
  color:#000000;
  margin:0;
  padding:0;
}

.comment-admin-body-paragraph
{
  background:transparent url(/images/admin-left.png) no-repeat scroll left top;
  margin:0;
  padding:16px 10px 10px 20px;
}

.comment-admin-link
{
  background:transparent url(/images/admin-left.png) no-repeat scroll left bottom;
  margin:0;
  padding:0 0 0 10px;
}

.comment-admin-link em
{
  background:transparent url(/images/admin-right.png) no-repeat scroll right bottom;
  display:block;
  padding:0 10px 10px 0;
}


/*

 FORMS 

*/

form
{
  margin:0 auto;
  line-height:1.4;
  font-size:122%;
  width:75%;
  padding:0 5px;
}

form label
{
  font-family:Constantia, Georgia, "Times New Roman", serif;
}

form textarea
{
//  width:400px;
//  height:80px;
}

input,textarea
{
  border-color:#AAA;
  border-style:dashed;
  color:#666;
}

input
{
  font-size: 150%;
}

.form_error_message
{
  color:red;
}

.fieldWithErrors
{
  padding:2px;
  background-color:red;
  display:table;
}

#errorExplanation
{
  width:400px;
  border:2px solid red;
  padding:7px;
  padding-bottom:12px;
  margin-bottom:20px;
  background-color:#f0f0f0;
}

#errorExplanation h2
{
  text-align:left;
  font-weight:bold;
  padding:5px 5px 5px 15px;
  font-size:12px;
  margin:-7px;
  background-color:#c00;
  color:#fff;
}

#errorExplanation p
{
  color:#333;
  margin-bottom:0;
  padding:5px;
}

#errorExplanation ul li
{
  font-size:12px;
  list-style:square;
}


/*

 PHOTOS

*/

p.photo a,ul.thumbnails a
{
  display:block;
  float:left;
  margin:0;
  padding:4px 4px 9px;
  border:1px solid #ccc;
  border-top-color:#eee;
  border-right-color:#ddd;
  border-bottom-color:#bbb;
  background-color:#fff;
  text-align:center;
}

p.phota a:hover,ul.thumbnails a:hover,p.thumb a:hover
{
  border-color:#ccc;
  background-color:#eee;
}

ul.thumbnails a
{
  width:180px;
  margin-right:10px;
  margin-bottom:10px;
}

ul.thumbnails
{
  margin:10px;
  padding:0;
  float:left;
  text-align:center;
  background-color:#fff;
  line-height:1em;
  list-style:none;
}

#avatar
{
  margin:2px;
  line-height:1;
  font-size:95%;
  width:75%;
  padding:2px;
}

p.thumb
{
  margin:0 0 10px;
  padding:0;
  text-align:center;
  line-height:1em;
  list-style:none;
}

p.thumb a
{
  display:block;
  margin:0;
  padding:4px 4px 9px;
  border:1px solid #ccc;
  border-top-color:#eee;
  border-right-color:#ddd;
  border-bottom-color:#bbb;
  background-color:#fff;
  text-align:center;
  margin-left:15px;
  margin-right:15px;
  margin-bottom:10px;
}

/*

 OTHER ELEMENTS

*/

hr
{
  margin-left:10px;
}

p,pre,blockquote,form,label,ul,ol,dl,fieldset,address
{
  margin:20px 0;
}


/* 
 
 ETC

*/

.added
{
  font-size:75%;
  font-style:italic;
  margin-left:40px;
}


.user-img
{
  display:inline;
}

div.directory
{
  padding:3px;
  margin:3px 3px 3px 20px;
}

div.directory a
{
  padding:2px;
  margin:10px 1.5px 1.5px;
  border:1.5px solid #F5D6F5;
  text-decoration:none;
  color:#000099;
}

div.directory a:hover,div.directory a:active
{
  border:1.5px solid #F5D6F5;
  background-color:#7F007F;
  color:#FFF;
}

div.directory span.current
{
  padding:2px;
  margin:10px 1.5px 1.5px;
  border:1.5px solid #F5D6F5;
  background-color:#7F007F;
  color:#FFF;
}

.admin_menu
{
  margin:20px 60px;
}

.admin_menu a
{
  color:#000;
  background-color:#F5D6F5;
  border-color:#c1d5b7 #5f7852 #5f7852 #c1d5b7;
  text-decoration:none;
  border-width:1px;
  border-style:solid;
  font-weight:bold;
  padding-left:7px;
  padding-right:7px;
  margin:8px;
  padding-top:4px;
  padding-bottom:4px;
}

.admin_menu a.:link,.admin_menu a.:visited
{
  color:#FFF;
  text-decoration:none;
}

.result
{
  background:white none repeat scroll 0;
  border:1px solid #CCCCCC;
  margin-bottom:5px;
  padding:9px 0 9px 9px;
  width:615px;
}

.userImage img
{
  display:inline;
  height:100%;
}

.userInfo
{
  margin-left:140px;
}

#first_name
{
  float:left;
}

#address-unsure-icon,#address-warning-icon,#address-good-icon
{
  display:none;
}


.middle {
	font-size: 120%;
  padding-left:100px; 
	padding-right:100px;    	
}

tr.darker { background-color: #cccccc; }
tr.lighter { background-color: #f7f7f7; }
table.profile { text-align: left; border: 1px solid silver; font-size: 1em; width: 100%; margin: 2px; }
td.profile { padding: 0.3em; }
tr.profile { border: 1px solid silver; }
th.profile { padding: 0.3em; }

.notice {    
	color: #666;
	background: #FFF6BF;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}

.error {
	background: #FFF6BF;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}


#country{
	size:10;
}
