<% title @page.name %>

<h2><%= @page.name %></h2>

<%= textilize(@page.content) %>

<%- if admin? -%>   
  <hr>
	<%= link_to 'Edit', edit_page_path(@page) %> |
	<%= link_to 'Index', pages_path %>
<%- end -%>
