<h1>Census Stages</h1>

<table>
  <tr>
    <th>Stage Number</th>
    <th>Stage Name</th>
    <th>Completed</th>
  </tr>

<% for stage in @stages %>
  <tr>
    <td><%= link_to "Stage: #{stage.id}", stage %></td>
    <td><%=h stage.title %></td>
    <td><%=h stage.percent_completed(session[:current_survey]) %></td>
  </tr>
<% end %>
</table>