<h1>Census Stages</h1>

<table>
  <tr>
    <th>Stage Name</th>
  </tr>

<% for stage in @stages %>
  <tr>
    <td><%=h stage.title %></td>
    <td><%= link_to 'Show', stage %></td>
  </tr>
<% end %>
</table>