<div id="header">
<%= render :partial => "header", :locals => { 
		:stage => @stage, 
		:prev_stage => @prev_stage, 
		:next_stage => @next_stage } %>
</div>

<div id='census_answers'>
	<%= render :partial => "question", :collection => @questions %>
</div>
