<div id="header">
<%= render :partial => "header", :locals => {:stage => @stage} %>
</div>

<% form_for @stage do |f| -%>
<div id='census_answers'>                                        
	<%= render :partial => "answer", :collection => @answers %>
	
	<%= render :partial => "footer", :locals => { 
			:current_stage => @stage, 
			:prev_stage => @prev_stage, 
			:next_stage => @next_stage } %>
</div>  
<% end -%>
