%p
  %b First name:
  =h @nomination.first_name 

%p
  %b Last name:
  =h @nomination.last_name 

%p
  %b Farm name:
  =h @nomination.farm_name 

%p
  %b Email:
  =h @nomination.email 

%p
  %b Title:
  =h @nomination.title 

%p
  %b Address:
  =h @nomination.address 

%p
  %b Telephone no:
  =h @nomination.telephone_no 

%p
  %b Date of birth:
  =h @nomination.date_of_birth 

%p
  %b Nominees profile:
  =h @nomination.nominees_profile 

%p
  %b Nominees contributions:
  =h @nomination.nominees_contributions 

%p
  %b Your name:
  =h @nomination.your_name 

%p
  %b Your email:
  =h @nomination.your_email 

%p
  %b Your contact details:
  =h @nomination.your_contact_details 

=link_to 'Edit', edit_nomination_path(@nomination)  |
=link_to 'Back', nominations_path 
