<table width="130" align="right" border="0">
  <tbody>
    <tr>
      <td>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input name="cmd" value="_s-xclick" type="hidden">
          <input name="hosted_button_id" value="38523" type="hidden">
          <input 
            src="http://www.thegreenhorns.net/images/content/donate/donate_silo130x290.jpg" 
            name="submit" alt="" type="image" border="0">
          <img alt="" 
            src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" border="0" height="1">
        </form>
      </td>
    </tr>
  </tbody>
</table>

