<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Narrative on Young American Farmers</title>
  <%= stylesheet_link_tag 'reset-fonts-grids', :cache => true %>
	<%= javascript_include_tag :defaults, :cache => true %>
</head>
<body>
<div id="doc2" class="yui-t7">
  <div id="hd"> <h1>Narrative on Young American Farmers<h1> </div>
  <div id="bd">
    <div class="yui-g navigation">
      <a href="/">Home</a> |
      <a href="/directory">Directory</a> |
      <a href="/logout">Logout</a>
    </div>

    <div class="yui-gc">
      <div class="yui-u first"> <%= yield %> </div>
      <div class="yui-u"> <div class ='sidebar'> <%= yield :sidebar %> </div> </div>
    </div>
    <div id="ft"> </div>
</div>
</body>
</html>
