<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>YUI Base Page</title>
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
</head>
<body>
<div id="doc2" class="yui-t5">
   <div id="hd">
		<h1>YUI: CSS Grid Builder</h1>
	 </div> <!-- hd end -->
   <div id="bd">
		<div class="yui-b">
			<!-- YOUR NAVIGATION GOES HERE -->
		</div>	<!-- yui-b end -->
		<div id="yui-main">
			<div class="yui-b">
				<div class="yui-g">
				<!-- YOUR DATA GOES HERE -->
				</div> <!-- yui-g end -->
			</div> <!-- yui-b end -->
		</div> <!-- yui-main end -->

	 </div> <!-- bd end -->
   <div id="ft">
		Footer is here.
	 </div> <!-- ft end -->
</div> <!-- doc2 end -->
</body>
</html>